<div class="container">
  <div class="search-container ">
    <form class="form-inline my>-2 my-lg-0">
      <input class="form-control mr-sm-2 " type="text" placeholder="Search"  name= "searchStr" [(ngModel)]="searchStr" (keyup)= "searchMusic()">
    </form>
  </div>



  <div class="container" *ngIf="searchRes">
    <div class="row">
      <div class="col-sm" *ngFor="let res of searchRes">
        <div class="card   card-layout">
          <h3 class="card-header"><a routerLink = '/artist/{{res.id}}'>{{res.name}}</a></h3>
          <div class="card-body">
            <h6 class="card-subtitle text-muted">Followers: {{res.followers.total}}</h6>
          </div>
          <img src="{{res.images[0].url}}" width="315" height="315">

        </div>
      </div>


    </div>
  </div>


</div>

