.search {
    margin-left: 100px;
}

.searchdes {
    margin-left: 100px;
}

.form-control mr-sm-2 {
    margin-left: 100px;
}

.form-inline my-2 my-lg-0 {
    margin-left: 100px;
}

.mt-2, .my-2 {
    margin-top: 0.5rem !important;
    margin-left: 100px;
}

.col-md-12 {
    margin-left: 100px;
}

.search-container{
    display: flex;
    justify-content: center;
    margin: 100px;
    width: 100%;


  }

  .search-input{
    width:90%;
  }
